{% extends "main/base.html" %}

{% block title %}fumo.kg{% endblock %}

{% block content %}
<div class="container">
    <div style="height: 70px"></div>
    <img src="https://tenor.com/view/touhou-fumo-reimu-gif-20462283.gif">
    <img src="https://tenor.com/view/touhou-fumo-reimu-gif-20462283.gif">
    <img src="https://tenor.com/view/touhou-fumo-reimu-gif-20462283.gif">
    <img src="https://tenor.com/view/touhou-fumo-reimu-gif-20462283.gif">
    <img src="https://tenor.com/view/flandre-fumo-flandre-touhou-flandre-flandre-scarlet-flan-gif-20350282.gif">
</div>
{% endblock %}